@import url(https://fonts.googleapis.com/css?family=Open+Sans);

$main-bg-color: #fffff;
$main-blue: #2B4175;
$main-green: #2BC6A8;
$light-gray: #F9F9F9;
$dark-gray: #5D6163;
$border-color: #E6E6E6;
$error-background: #FFCCCC;
$error-red: #a94442;

$break-small: 450px;
$break-large: 1200px;

body {
  background-color: $main-bg-color;
  display: flex;
  font-family: 'Open Sans script=all rev=1', sans-serif;
  margin: 0px;
}

.documents {
  display: flex;
  display: -webkit-flex;
  display: -ms-flexbox;
  flex-direction: column;

  .document {
    display: flex;
    display: -webkit-flex;
    display: -ms-flexbox;
    flex: 1;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    color: $dark-gray;
    font-size: 18px;
    font-weight: 200;
    width: 100%;
    height: 80px;
    margin-right: auto;
    margin-left: auto;
    border-bottom: 1px solid #DBD9D9;

    .name {
      display: flex;
      display: -webkit-flex;
      display: -ms-flexbox;
      flex:1;
      align-items: center;
      justify-content: flex-start;

      img {
        width: 30px;
        margin-right: 20px;
      }
    }

    .date {
      display: flex;
      display: -webkit-flex;
      display: -ms-flexbox;
      flex:1;
      align-items: center;
      justify-content: flex-start;
    }
  }
}

.document-nav {
  display: flex;
  display: -webkit-flex;
  display: -ms-flexbox;
  flex-direction: row;
  margin-bottom: 40px;

  .button {
    display: flex;
    display: -webkit-flex;
    display: -ms-flexbox;
    flex: 1;
    justify-content: flex-start;
    align-items: center;

    button {
      border: none;
      height: 50px;
      width: 200px;
      background: #C8C6C6;
      border-radius: 37px;
      color: white;
      font-size: 14px;
    }
  }

  .label {
    display: flex;
    display: -webkit-flex;
    display: -ms-flexbox;
    flex: 1;
    justify-content: flex-start;
    flex-direction: row;
    align-items: center;

    label {
      font-size: 18px;
      font-weight: 100;
      color: $main-blue;
      cursor: pointer;
    }

    img {
      width: 20px;
      margin-right: 5px;
      cursor: pointer;
    }
  }
}

.doc {
  display: flex;
  display: -webkit-flex;
  display: -ms-flexbox;
  width: 100%;
  height: 35px;
  margin: 0px;
  justify-content: center;
  border-bottom: 2px solid $main-blue;
  justify-content: flex-start;
  align-items: flex-start;

  label {
    font-size: 18px;
    font-weight: 100;
    color: $main-blue;
    margin-bottom: 10px;
    @media screen and (max-width: $break-small) {
      font-size: 14px;
    }
  }
}

.upload {

  button {
    border: none;
    height: 50px;
    width: 150px;
    background: $main-green;
    border-radius: 37px;
    color: white;
    font-size: 12px;
  }
}

