@import url(https://fonts.googleapis.com/css?family=Open+Sans);

$main-bg-color: #fffff;
$main-blue: #2B4175;
$main-green: #2BC6A8;
$light-gray: #F9F9F9;
$dark-gray: #5D6163;
$border-color: #E6E6E6;
$error-background: #FFCCCC;
$error-red: #a94442;

$break-small: 450px;
$break-large: 1200px;

body {
  background-color: $main-bg-color;
  display: flex;
  font-family: 'Open Sans script=all rev=1', sans-serif;
  margin: 0px;
}

#root {
  width: 100%;
}

.uppercase {
  text-transform: uppercase
}

.img-container {
  display: flex;
  display: -webkit-flex;
  display: -ms-flexbox;
  align-items: center;
  justify-content: center;
  img {
    width: 200px;
  }
}

.container {

}

.main-app-container {
  width: 100%;
}

.layout-container {
  font-family: 'Roboto', sans-serif;
  width: 90%;
  margin-right: auto;
  margin-left: auto;
  margin-top: 20px;
}

.main-app-nav {
  font-size: 2em;
  text-align: center;
}

footer {
  font-size: 0.75em;
  text-align: center;
  padding-top: 10em;

  a {
    text-decoration: none;
    color: inherit;

    &:hover {
      color: $main-blue;
    }
  }
}


//Navbar
.navbar {
  display: flex;
  display: -webkit-flex;
  display: -ms-flexbox;
  align-items: center;
  padding-left: 10px;
  background-color: $main-blue;
  height: 50px;

  img {
    margin-left: 3%;
    height: 30px;
  }

  .menu {
    display: flex;
    display: -webkit-flex;
    display: -ms-flexbox;
    flex: 1;
    flex-direction: row;
    align-items: flex-end;
    justify-content: flex-end;
    margin-right: 6%;

    p {
      cursor: pointer;
      font-size: 14px;
      font-weight: semi-bold;
      letter-spacing: 0.5px;
      margin-left: 15px;
      color: white;
      text-transform: uppercase;
    }
  }
}

.main-bar {
  display: flex;
  display: -webkit-flex;
  display: -ms-flexbox;
  flex-direction: column;
  height: 100px;
  width: 100%;
  background-color: $light-gray;
  border-bottom: 1px lightgray solid;

  .links {
    display: flex;
    display: -webkit-flex;
    display: -ms-flexbox;
    flex-direction: row;
    width: 100%;
    height: 100%;
    align-items: flex-end;
    justify-content: center;
    font-size: 15px;
    text-transform: uppercase;
    letter-spacing: 0.5px;

    .nav-link {
      display: flex;
      display: -webkit-flex;
      display: -ms-flexbox;
      padding: 10px;
      margin-right: 50px;
      margin-left: 50px;
      color: gray;
      align-items: center;
      justify-content: center;
      text-decoration: none;

      @media screen and (max-width: $break-small) {
        margin-right: 20px;
        margin-left: 20px;
      }
    }

    .active {
      padding-bottom: 8px;
      font-weight: 500;
      color: $main-blue;
      border-bottom: 3px solid $main-blue;
    }
  }

  .title {
    display: flex;
    display: -webkit-flex;
    display: -ms-flexbox;
    flex: 1;
    height: 100%;
    align-items: center;
    justify-content: flex-start;
    margin-left: 5%;
    margin-top: 0px;
    margin-bottom: 0px;

    label {
      font-size: 20px;
      font-weight: 100;
      color: $main-blue;
    }
  }
}

//General
.header {
  display: flex;
  display: -webkit-flex;
  display: -ms-flexbox;
  width: 80%;
  height: 40px;
  margin-right: auto;
  margin-left: auto;
  margin-bottom: 20px;
  align-items: center;
  justify-content: center;
  background-color: black;
  label {
    color: white;
  }
}

.create-input {
  height: 30px;
  width: 400px;
  background-color: $light-gray;
  border: 1px solid $border-color;
}

.error-input {
  height: 30px;
  width: 400px;
  background-color: $error-background;
  border: 2px solid $error-red;
}

.error {
  color: $error-red;
}

.create-textarea {
  height: 100px;
  width: 400px;
  background-color: $light-gray;
  border: 2px solid black;
}

.shorter {
  width: 150px;
  margin-right: 10px;
}

//datepicker css
.react-datepicker__tether-element-attached-top .react-datepicker__triangle,.react-datepicker__tether-element-attached-bottom .react-datepicker__triangle,.react-datepicker__year-read-view--down-arrow{margin-left:-8px;position:absolute}.react-datepicker__tether-element-attached-top .react-datepicker__triangle,.react-datepicker__tether-element-attached-bottom .react-datepicker__triangle,.react-datepicker__year-read-view--down-arrow,.react-datepicker__tether-element-attached-top .react-datepicker__triangle::before,.react-datepicker__tether-element-attached-bottom .react-datepicker__triangle::before,.react-datepicker__year-read-view--down-arrow::before{box-sizing:content-box;position:absolute;border:8px solid transparent;height:0;width:1px}.react-datepicker__tether-element-attached-top .react-datepicker__triangle::before,.react-datepicker__tether-element-attached-bottom .react-datepicker__triangle::before,.react-datepicker__year-read-view--down-arrow::before{content:"";z-index:-1;border-width:8px;left:-8px;border-bottom-color:#aeaeae}.react-datepicker__tether-element-attached-top .react-datepicker__triangle{top:0;margin-top:-8px}.react-datepicker__tether-element-attached-top .react-datepicker__triangle,.react-datepicker__tether-element-attached-top .react-datepicker__triangle::before{border-top:none;border-bottom-color:#f0f0f0}.react-datepicker__tether-element-attached-top .react-datepicker__triangle::before{top:-1px;border-bottom-color:#aeaeae}.react-datepicker__tether-element-attached-bottom .react-datepicker__triangle,.react-datepicker__year-read-view--down-arrow{bottom:0;margin-bottom:-8px}.react-datepicker__tether-element-attached-bottom .react-datepicker__triangle,.react-datepicker__year-read-view--down-arrow,.react-datepicker__tether-element-attached-bottom .react-datepicker__triangle::before,.react-datepicker__year-read-view--down-arrow::before{border-bottom:none;border-top-color:#fff}.react-datepicker__tether-element-attached-bottom .react-datepicker__triangle::before,.react-datepicker__year-read-view--down-arrow::before{bottom:-1px;border-top-color:#aeaeae}.react-datepicker{font-family:"Helvetica Neue", Helvetica, Arial, sans-serif;font-size:11px;background-color:#fff;color:#000;border:1px solid #aeaeae;border-radius:4px;display:inline-block;position:relative}.react-datepicker__triangle{position:absolute;left:50px}.react-datepicker__tether-element-attached-bottom.react-datepicker__tether-element{margin-top:-20px}.react-datepicker__header{text-align:center;background-color:#f0f0f0;border-bottom:1px solid #aeaeae;border-top-left-radius:4px;border-top-right-radius:4px;padding-top:8px;position:relative}.react-datepicker__current-month{margin-top:0;color:#000;font-weight:bold;font-size:13px}.react-datepicker__current-month--hasYearDropdown{margin-bottom:16px}.react-datepicker__navigation{line-height:24px;text-align:center;cursor:pointer;position:absolute;top:10px;width:0;border:6px solid transparent}.react-datepicker__navigation--previous{left:10px;border-right-color:#ccc}.react-datepicker__navigation--previous:hover{border-right-color:#b3b3b3}.react-datepicker__navigation--next{right:10px;border-left-color:#ccc}.react-datepicker__navigation--next:hover{border-left-color:#b3b3b3}.react-datepicker__navigation--years{position:relative;top:0;display:block;margin-left:auto;margin-right:auto}.react-datepicker__navigation--years-previous{top:4px;border-top-color:#ccc}.react-datepicker__navigation--years-previous:hover{border-top-color:#b3b3b3}.react-datepicker__navigation--years-upcoming{top:-4px;border-bottom-color:#ccc}.react-datepicker__navigation--years-upcoming:hover{border-bottom-color:#b3b3b3}.react-datepicker__month{margin:5px;text-align:center}.react-datepicker__day-name,.react-datepicker__day{color:#000;display:inline-block;width:24px;line-height:24px;text-align:center;margin:2px}.react-datepicker__day{cursor:pointer}.react-datepicker__day:hover{border-radius:4px;background-color:#f0f0f0}.react-datepicker__day--today{font-weight:bold}.react-datepicker__day--selected,.react-datepicker__day--in-range{border-radius:4px;background-color:#216ba5;color:#fff}.react-datepicker__day--selected:hover,.react-datepicker__day--in-range:hover{background-color:#1d5d90}.react-datepicker__day--disabled{cursor:default;color:#ccc}.react-datepicker__day--disabled:hover{background-color:transparent}.react-datepicker__input-container{position:relative;display:inline-block}.react-datepicker__year-read-view{width:50%;left:25%;position:absolute;bottom:25px;border:1px solid transparent;border-radius:4px}.react-datepicker__year-read-view:hover{cursor:pointer}.react-datepicker__year-read-view:hover .react-datepicker__year-read-view--down-arrow{border-top-color:#b3b3b3}.react-datepicker__year-read-view--down-arrow{border-top-color:#ccc;margin-bottom:3px;left:5px;top:9px;position:relative;border-width:6px}.react-datepicker__year-read-view--selected-year{right:6px;position:relative}.react-datepicker__year-dropdown{background-color:#f0f0f0;position:absolute;width:50%;left:25%;top:30px;text-align:center;border-radius:4px;border:1px solid #aeaeae}.react-datepicker__year-dropdown:hover{cursor:pointer}.react-datepicker__year-option{line-height:20px;width:100%;display:block;margin-left:auto;margin-right:auto}.react-datepicker__year-option:first-of-type{border-top-left-radius:4px;border-top-right-radius:4px}.react-datepicker__year-option:last-of-type{-webkit-user-select:none;-moz-user-select:none;-ms-user-select:none;user-select:none;border-bottom-left-radius:4px;border-bottom-right-radius:4px}.react-datepicker__year-option:hover{background-color:#ccc}.react-datepicker__year-option:hover .react-datepicker__navigation--years-upcoming{border-bottom-color:#b3b3b3}.react-datepicker__year-option:hover .react-datepicker__navigation--years-previous{border-top-color:#b3b3b3}.react-datepicker__year-option--selected{position:absolute;left:30px}.react-datepicker__close-icon{background-color:transparent;border:0;cursor:pointer;display:inline-block;height:0;outline:0;padding:0;vertical-align:middle}.react-datepicker__close-icon::after{background-color:#216ba5;border-radius:50%;bottom:0;box-sizing:border-box;color:#fff;content:"\00d7";cursor:pointer;font-size:12px;height:16px;width:16px;line-height:1;margin:-8px auto 0;padding:2px;position:absolute;right:7px;text-align:center;top:50%}.react-datepicker__today-button{background:#f0f0f0;border-top:1px solid #aeaeae;cursor:pointer;text-align:center;font-weight:bold;padding:5px 0}.react-datepicker__tether-element{z-index:2147483647}

.calendar {
  input {
    height: 30px;
    border: $border-color 1px solid;
    background-color: $light-gray;
    border-radius: 4px;
    padding-left: 10px;
    margin-bottom: 10px;
  }
}
