@import url(https://fonts.googleapis.com/css?family=Roboto);

$main-bg-color: #fffff;
$main-blue: #2B4175;
$main-green: #2BC6A8;
$light-gray: #F9F9F9;
$dark-gray: #5D6163;
$border-color: #E6E6E6;

$break-small: 450px;
$break-medium: 770px;
$break-large: 1200px;

.title {
  margin: 10px;
  font-size: 18px;
  font-weight: lighter;
  color: $main-blue;
}

.form-row {
  display: flex;
  display: -webkit-flex;
  display: -ms-flexbox;
  flex: 1;
  flex-direction: row;
  flex-flow: row wrap;
  margin: 10px;
  @media screen and (max-width: $break-small) {
    flex-direction: column;
  }

  .form-data {
    display: flex;
    display: -webkit-flex;
    display: -ms-flexbox;
    flex: 1;
    flex-direction: column;

    label {
      color: $dark-gray;
      margin-bottom: 10px;
    }

    input {
      width: 330px;
      border-radius: 4px;
      padding-left: 10px;
      margin-bottom: 10px;
      @media screen and (max-width: $break-small) {
        width: 260px;
      }
    }
  }
}

.request-button {
  display: flex;
  display: -webkit-flex;
  display: -ms-flexbox;
  flex: 1;
  align-items: flex-end;
  justify-content: flex-end;

  button {
    border: none;
    height: 50px;
    width: 200px;
    background-color: $main-green;
    color: white;
    font-size: 16px;
    border-radius: 3px;
  }
}

.titles {
  display: flex;
  display: -webkit-flex;
  display: -ms-flexbox;
  align-items: center;
  justify-content: center;

}

.orders {
  display: flex;
  display: -webkit-flex;
  display: -ms-flexbox;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  .title {
    width: 100%;
    text-align: center;
    border-bottom: 2px solid $main-blue;
  }

  .order {
    display: flex;
    display: -webkit-flex;
    display: -ms-flexbox;
    flex: 1;
    flex-direction: row;
    flex-flow: row wrap;
    width: 100%;
    align-items: center;
    justify-content: center;

    .detail {
      display: flex;
      display: -webkit-flex;
      display: -ms-flexbox;
      flex: 1;
      align-items: center;
      justify-content: center; 

      input {
        width: 150px;
        margin: 10px;
        border: $border-color 1px solid;
        border-radius: 4px;
        padding-left: 10px;
        margin-bottom: 10px;
        @media screen and (max-width: $break-medium) {
          width: 260px;
        }
      }

      select.create-input {
        height: 34px;
        width: 163px;

        @media screen and (max-width: $break-medium) {
          width: 273px;
        }
      }
    }
    @media screen and (max-width: $break-medium) {
      flex-direction: column;
      border-bottom: 2px solid $main-blue;
    }
  }
}

.add-order {
  cursor: pointer;
  display: flex;
  display: -webkit-flex;
  display: -ms-flexbox;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  width: 140px;
  color: $dark-gray;
  img {
    height: 15px;
    width: 15px;
    margin-right: 10px;
  }
}

.textarea {
  display: flex;
  display: -webkit-flex;
  display: -ms-flexbox;
  flex: 1;
  flex-direction: column;
  margin-left: 10px;
    label {
      color: $dark-gray;
      margin-bottom: 10px;
    }

    textarea {
      width: 100%;
      height: 75px;
      background-color: $light-gray;
      border: 1px solid $border-color;
      border-radius: 4px;
      margin-bottom: 10px;
      padding: 10px;
    }
}

.email {
  width: 90%;
  background-color: $light-gray;
  border: 1px solid $border-color;
  border-radius: 4px;
  padding: 20px;

  p {
    margin: 0px;
  }
}
