@import url(https://fonts.googleapis.com/css?family=Roboto);

$main-bg-color: #fffff;
$main-blue: #2B4175;
$main-green: #2BC6A8;
$light-gray: #F9F9F9;
$dark-gray: #5D6163;
$border-color: #E6E6E6;

$break-small: 450px;
$break-large: 1200px;

.suppliers-select {
  display: flex;
  display: -webkit-flex;
  display: -ms-flexbox;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  overflow-y: scroll;
  height: 350px;


  .supplier {
    display: flex;
    display: -webkit-flex;
    display: -ms-flexbox;
    flex-direction: row;
    width: 100%;
    min-height: 50px;
    margin-top: 0px;
    align-items: center;
    justify-content: center;
    color: $dark-gray;

    .item {
      display: flex;
      display: -webkit-flex;
      display: -ms-flexbox;
      flex: 1;
      align-items: center;
      justify-content: center;

      .logo-row {
        width: 300px;
        display: flex;
   
        display: -webkit-flex;
        display: -ms-flexbox;
        flex-direction: row;
        align-items: center;
        @media screen and (max-width: $break-small) {
          width: 145px;
        }
      }
    }
  }
}

.request-button#suppliers {
  display: flex;
  display: -webkit-flex;
  display: -ms-flexbox;
  flex: 1;
  align-items: flex-end;
  justify-content: flex-end;
  margin-top: 50px;

  button {
    border: none;
    height: 50px;
    width: 200px;
    background-color: $main-green;
    color: white;
    font-size: 16px;
    border-radius: 3px;
  }
}

.titles {
  display: flex;
  display: -webkit-flex;
  display: -ms-flexbox;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  margin-top: 20px;

  .title {
    display: flex;
    display: -webkit-flex;
    display: -ms-flexbox;
    width: 100%;
    height: 35px;
    margin: 0px;
    align-items: flex-start;
    justify-content: center;
    border-bottom: 2px solid $main-blue;

    label {
      font-size: 18px;
      color: $main-blue;
      margin-bottom: 10px;
      @media screen and (max-width: $break-small) {
        font-size: 14px;
      }
    }
  }
}

.port-select {
  display: flex;
  display: -webkit-flex;
  display: -ms-flexbox;
  flex-direction: column;
  padding-top: 10px;
  margin-top: 10px;
  margin-bottom: 40px;
  margin-left: 5%;

  p {
    margin:0px;
    font-size: 18px;
    font-weight: 200;
    color: $main-blue;
  }

  label {
    margin-bottom: 10px;
    font-size: 18px;
    font-weight: 100;
    color: $main-blue;
  }

  .styled-select {
     background: white;
     height: 29px;
     overflow: hidden;
     width: 240px;
     font-size: 14px;
  }

  .styled-select select {
     background: transparent;
     border: none;
     font-size: 16px;
     height: 29px;
     padding: 5px; /* If you add too much padding here, the options won't show in IE */
     width: 268px;
  }

  .styled-select.slate {
     height: 34px;
     width: 240px;
  }

  .styled-select.slate select {
     border: 1px solid #ccc;
     font-size: 16px;
     height: 34px;
     width: 268px;
  }
}