@import url(https://fonts.googleapis.com/css?family=Roboto);

$main-bg-color: #fffff;
$main-blue: #2B4175;
$main-green: #2BC6A8;
$light-gray: #F9F9F9;
$dark-gray: #5D6163;
$border-color: #E6E6E6;

$break-small: 450px;
$break-medium: 770px;
$break-large: 1200px;

.layout-container {
  margin-bottom: 50px;
  font-family: 'Roboto script=all rev=1', sans-serif;
}

.suppliers {
  .supplier {
    display: flex;
    display: -webkit-flex;
    display: -ms-flexbox;
    flex-direction: column;
    width: 100%;
    border: 2px solid $border-color;
    box-shadow: 0px 1px 0px 0px rgba(0,0,0,0.16);
    border-radius: 3px;
    margin-top: 20px;
    color: $dark-gray;

    .attributes {
      display: flex;
      display: -webkit-flex;
      display: -ms-flexbox;
      flex-direction: row;
      align-items: center;
      justify-content: center;
      height: 100px;

      .attribute {
        display: flex;
        display: -webkit-flex;
        display: -ms-flexbox;
        flex: 1;
        align-items: center;
        justify-content: center;
        text-align: center;
        @media screen and (max-width: $break-medium) {
          margin: 3px;
        }
        p {
          margin:0px;
        }
      }

      .multiple {
        display: flex;
        flex-direction: column;
      }

      @media screen and (max-width: $break-medium) {
        height: 270px;
        flex-direction: column;
      }
    }
  }

}

.request-button {
  display: flex;
  display: -webkit-flex;
  display: -ms-flexbox;
  flex: 1;
  align-items: flex-end;
  justify-content: flex-end;
  margin-bottom: 10px;

  button {
    border: none;
    height: 40px;
    width: 150px;
    background-color: $main-green;
    color: white;
    font-size: 14px;
    font-weight: 200;
    border-radius: 3px;
    margin-right: 15px;
    @media screen and (max-width: $break-medium) {
      width: 270px;
      margin-top: 10px;
      margin-bottom: 5px;
      margin-left: auto;
      margin-right: auto;
    }
  }
}

.titles {
  display: flex;
  display: -webkit-flex;
  display: -ms-flexbox;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  margin-top: 20px;

  .title {
    display: flex;
    display: -webkit-flex;
    display: -ms-flexbox;
    width: 100%;
    height: 35px;
    margin: 0px;
    align-items: flex-start;
    justify-content: center;
    border-bottom: 2px solid $main-blue;

    label {
      margin-bottom: 10px;
    }
  }
  
}

.deal-summary {
  display: flex;
  display: -webkit-flex;
  display: -ms-flexbox;
  flex: 1;
  flex-direction: column;
  width: 90%;
  margin-left: auto;
  margin-right: auto;

  .title {
    display: flex;
    display: -webkit-flex;
    display: -ms-flexbox;
    flex: 1;
    align-self: center;
    font-size: 18px;
    color: $dark-gray;
    margin-bottom: 30px;
  }

  .descriptor {
    font-size: 18px;
    font-weight: lighter;
    color: $main-blue;
    margin-bottom: 20px;
  }

  .attributes {
    display: flex;
    display: -webkit-flex;
    display: -ms-flexbox;
    flex: 1;
    flex-direction: row;
    margin-bottom: 30px;
    @media screen and (max-width: $break-medium) {
      font-size: 12px;
    }

    .attribute {
      display: flex;
      display: -webkit-flex;
      display: -ms-flexbox;
      flex: 1;
      flex-direction: column;
      align-items: center;
      justify-content: center;

      label {
        color: $dark-gray;
      }
    }
  }

  .orders {
    .order {
      @media screen and (max-width: $break-medium) {
        flex-direction: row;
      }
    }
  }
}

.order {
  display: flex;
  display: -webkit-flex;
  display: -ms-flexbox;
  flex: 1;
  flex-direction: row;
  align-items: center;
  justify-content: center;

  .order-attribute {
    display: flex;
    display: -webkit-flex;
    display: -ms-flexbox;
    flex: 1;
    align-items: flex-start;
    justify-content: center;

    p {
      margin: 0px;
    }
  }
    @media screen and (max-width: $break-medium) {
      border-bottom: 2px solid $main-blue;
    }
}

.order-details {
  display: flex;
  display: -webkit-flex;
  display: -ms-flexbox;
  flex-direction: column;

  .order-header {
    display: flex;
    display: -webkit-flex;
    display: -ms-flexbox;
    flex-direction: row;
    align-items: center;
    margin-top: 10px;

    label {
      display: flex;
      display: -webkit-flex;
      display: -ms-flexbox;
      flex: 1;  
    }

    .react-count-down {
      display: flex;
      display: -webkit-flex;
      display: -ms-flexbox;
      flex: 1;
      justify-content: flex-end;
      margin-right: 30px;
    }
  }

  .order-banner {
    display: flex;
    display: -webkit-flex;
    display: -ms-flexbox;
    height: 50px;
    background-color: $main-blue;
    align-items: center;

    label {
      margin-left: 10px;
      color: white;
      font-size: 16px;
      text-transform: uppercase;
    }

    button {
      border: none;
      height: 20px;
      width: 80px;
      background-color: $main-green;
      color: white;
      font-size: 14px;
      font-weight: 200;
      border-radius: 3px;
      margin-right: 5px;
      margin-left: 15px;
      @media screen and (max-width: $break-medium) {
        width: 270px;
        margin-top: 10px;
        margin-bottom: 5px;
        margin-left: auto;
        margin-right: auto;
      }
    }
  }

  .title {
    margin-left: 30px;
    font-size: 16px;
    color: $main-blue;
    @media screen and (max-width: $break-medium) {
      font-size: 12px;
      margin-left: 10px;
    }
  }

  .orders {
    width: 95%;
    padding-left: 2px;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 10px;

    .order {
      display: flex;
      display: -webkit-flex;
      display: -ms-flexbox;
      flex-direction: row;
      flex-flow: row wrap;

      .detail {
        display: flex;
        display: -webkit-flex;
        display: -ms-flexbox;
        flex: 1;
        flex-direction: column;
        align-items: flex-start;
        height: 30px;
        @media screen and (max-width: $break-medium) {
          align-items: center;
          font-size: 10px;
        }

        p {
          font-weight: 200;
        }

        input {
          margin: 0px;
          width: 100px;
        }
      }
    }
  }

  .comments {
    display: flex;
    display: -webkit-flex;
    display: -ms-flexbox;
    flex-direction: column;
    align-items: flex-start;
    width: 95%;
    padding-left: 2px;
    margin-left: auto;
    margin-right: auto;
    @media screen and (max-width: $break-medium) {
      font-size: 10px;
    }
    p {
      margin: 0px;
      margin-bottom: 15px;
    }
  }

  .contact {
    display: flex;
    display: -webkit-flex;
    display: -ms-flexbox;
    flex-direction: row;
    flex-flow: row wrap;
    width: 95%;
    padding-left: 2px;
    margin-left: auto;
    margin-right: auto;
    @media screen and (max-width: $break-medium) {
      font-size: 10px;
    }

    .detail {
      display: flex;
      display: -webkit-flex;
      display: -ms-flexbox;
      flex: 1;
      flex-direction: row;

      p {
        margin:0px;
        margin-left: 10px;
        font-weight: 100;
      }
    }
  }
}

.email {
  width: 90%;
  background-color: $light-gray;
  border: 1px solid $border-color;
  border-radius: 4px;
  padding: 20px;
  overflow-y: scroll;
  height: 350px;
  @media screen and (max-width: $break-medium) {
    font-size: 10px;
  }

  p {
    margin: 0px;
  }

  .order-titles {
    display: flex;
    display: -webkit-flex;
    display: -ms-flexbox;
    flex-direction: row;
    margin-top: 15px;

    p {
      margin-right: 25px;
    }
  }

  .order {
    display: flex;
    display: -webkit-flex;
    display: -ms-flexbox;
    flex-direction: row;
    justify-content: flex-start;

    .detail {
      display: flex;
      display: -webkit-flex;
      display: -ms-flexbox;
      flex: 1;
      align-items: center;
      justify-content: flex-start;
    }
  }
}